
        /* ///// inputs /////*/
        body {
            color: white;
        }
        input::placeholder,textarea::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            opacity: 1;
            font-size: 20ox;
            padding-left: 10px;
            /* Firefox */
        }
        .styled-input {
            float: left;
            width: 293px;
            margin: 1rem 0;
            position: relative;
            border-radius: 4px;
        }

        @media only screen and (max-width: 768px) {
            .styled-input {
                width: 100%;
            }
        }

        .styled-input label {
            color: #999;
            padding: 1.3rem 30px 1rem 30px;
            position: absolute;
            top: 10px;
            left: 0;
            -webkit-transition: all 0.25s ease;
            transition: all 0.25s ease;
            pointer-events: none;
        }

        .styled-input.wide {
            width: 650px;
            max-width: 100%;
        }

        input {
            background-color: #25262A;
            border: 2px;
            border-color: #64FAAB;
            border-radius: 14px;
            padding: 0 10px 0 25px;
            height: 55px;
        }

        input,
        textarea {
            padding: 30px;
            border: 2px solid #64f4ab;
            width: 100%;
            font-size: 1rem;
            background-color: #25262A;
            color: white;
            border-radius: 14px;
        }


        textarea {
            width: 100%;
            min-height: 15em;
        }

        .input-container {
            width: 650px;
            max-width: 100%;
            margin: 20px auto 25px auto;
        }

        .submit-btn {
            float: right;
            padding: 7px 35px;
            border-radius: 60px;
            display: inline-block;
            background-color: #4b8cfb;
            color: white;
            font-size: 18px;
            cursor: pointer;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
                0 2px 10px 0 rgba(0, 0, 0, 0.07);
            -webkit-transition: all 300ms ease;
            transition: all 300ms ease;
        }

     

        @media (max-width: 768px) {
            .submit-btn {
                width: 100%;
                float: none;
                text-align: center;
            }
        }

      
   
        /* Custom CSS styles here */
        .container {
            display: flex;
        }

        .left-section {
            flex: 1;
            padding: 20px;
        }

        .right-section {
            flex: 1;
            padding: 20px;
        }

        .contact-heading h3 {
            font-size: 18px;
        }

        .touch-heading h1 {
            font-size: 24px;
        }

        .description p {
            margin-bottom: 20px;
        }

        .contact-info {
            display: flex;
        }

      

        .svg-div {
            flex: 1;
        }

        .email-div,
        .phone-div {
            flex: 1;
        }

        .email-div p,
        .phone-div p {
            margin-bottom: 10px;
        }

        .form {
            width: 100%;
            max-width: 400px;
        }

        .input-div {
            margin-bottom: 10px;
        }


        nav {
            position: relative;
            padding: 47px 14px;
            top: 0;
            left: 0;
            height: 70px;
            width: 100%;
            background-color: var(--nav-color);
            z-index: 100;
        }
        
        body.dark nav {
            border: 1px solid #393838;
        
        }
        
        nav .nav-bar {
            position: relative;
            height: 100%;
            max-width: 100%;
            width: 100%;
            background-color: var(--nav-color);
            margin: 0 auto;
            padding: 0 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        nav .nav-bar .sidebarOpen {
            color: var(--text-color);
            font-size: 25px;
            padding: 5px;
            cursor: pointer;
            display: none;
        }
        
        nav .nav-bar .logo a {
            font-size: 25px;
            font-weight: 500;
            color: var(--text-color);
            text-decoration: none;
        }
        
        .menu .logo-toggle {
            display: none;
        }
        
        .nav-bar .nav-links {
            display: flex;
            align-items: center;
        }
        
        .nav-bar .nav-links li {
            margin: 0 5px;
            list-style: none;
        }
        
        .nav-links li a {
            position: relative;
            font-size: 17px;
            font-weight: 400;
            color: var(--text-color);
            text-decoration: none;
            padding: 10px;
        }
        
        .nav-links li a::before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background-color: var(--text-color);
            opacity: 0;
            transition: all 0.3s ease;
        }
        
        .nav-links li:hover a::before {
            opacity: 1;
        }
        
        .conbtn {
            font-size: 18px;
            font-weight: 500;
            color: #25262a;
            font-family: "Montserrat", Sans-serif;
            background-color: #ffaf29;
            /* background-image: (91deg,var(#ffaf29) 0%,var(#fecd1a) 100%); */
            color: #25262a;
            border-radius: 1em;
            font-size: 17px;
            font-weight: 600;
            padding: 1em 2em;
            cursor: pointer;
            /* transition: all 0.3s ease-in-out; */
            /* border: 1px solid black; */
            box-shadow: 0 0 0 0 black;
            text-decoration: none;
        
        }
        
        
        
        .conbtn:active {
            transform: translateY(2px) translateX(1px);
            box-shadow: 0 0 0 0 black;
        }
        
        ;
        
        @media (max-width: 990px) {
            .contact-us-btn {
                display: none;
            }
        
            .sidebarOpen {
                display: block;
            }
        }
        
        
        @media (max-width: 790px) {
            nav .nav-bar .sidebarOpen {
                display: block;
                color: #e2e3e6;
            }
        
            .menu {
                position: fixed;
                height: 100%;
                width: 320px;
                left: -100%;
                top: 0;
                padding: 20px;
                background-color: var(--side-nav);
                z-index: 100;
                transition: all 0.4s ease;
            }
        
            .conbtn {
                display: none;
            }
        
            nav.active .menu {
                left: -0%;
            }
        
            nav.active .nav-bar .navLogo a {
                opacity: 0;
                transition: all 0.3s ease;
            }
        
            .menu .logo-toggle {
                display: block;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        
            .logo-toggle .siderbarClose {
                color: var(--text-color);
                font-size: 24px;
                cursor: pointer;
            }
        
            .nav-bar .nav-links {
                flex-direction: column;
                padding-top: 30px;
            }
        
            .nav-links li a {
                display: block;
                margin-top: 20px;
            }
        }
        