@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* transition: all 0.4s ease; */
   
   
}



:root {
    --body-color: #2d2e32;
    --nav-color: #2d2e32;
    --side-nav: #e2e3e6;
    --text-color: #FFF;
    --search-text: #010718;
    
}

body {
    height: 100vh;
    background-color: var(--body-color);
}

body.dark {
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
}

nav {
    position: relative;
    padding: 47px 14px;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav {
    border: 1px solid #393838;

}

nav .nav-bar {
    position: relative;
    height: 100%;
    max-width: 100%;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle {
    display: none;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li {
    margin: 0 5px;
    list-style: none;
}

.nav-links li a {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before {
    opacity: 1;
}

#conbtn {
    font-size: 18px;
    font-weight: 500;
    color: #25262a;
    font-family: "Montserrat", Sans-serif;
    background-color: #ffaf29;
    /* background-image: (91deg,var(#ffaf29) 0%,var(#fecd1a) 100%); */
    color: #25262a;
    border-radius: 1em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    /* transition: all 0.3s ease-in-out; */
    /* border: 1px solid black; */
    box-shadow: 0 0 0 0 black;
    text-decoration: none;

}



#conbtn:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

;

@media (max-width: 990px) {
    .contact-us-btn {
        display: none;
    }

    .sidebarOpen {
        display: block;
    }
}


@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen {
        display: block;
        color: #e2e3e6;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    #conbtn {
        display: none;
    }

    nav.active .menu {
        left: -0%;
    }

    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose {
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a {
        display: block;
        margin-top: 20px;
    }
}

/* header-section */

/* Your existing CSS code for the navbar goes here */

.header-section {
    display: flex;
    /* margin-top: 100px; */
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.left-section img {
    max-width: 100%;
    height: auto;
}

.right-section {
    width: 60%;
    padding-left: 20px;
}

.left-section {
    width: 40%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* Add this line */
}

.left-section img {
    max-width: 100%;
    height: auto;
}

.intro h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.main-text h1 {
    font-size: 86px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 20px;
    font-family: monospace;
}

.paragraph p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
}

.contact-button a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background-color: #ffaf29;
    color: #25262a;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .header-section {
        flex-direction: column;
    }

    .left-section,
    .right-section {
        width: 100%;
    }

    .right-section {
        padding: 0;
        text-align: center;
    }
}

/* cards section styles */



/* Your existing CSS code goes here */

/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
} */

/* .navbar {
    background-color: #2d2e32;
    color: #fff;
    padding: 10px;
} */
/* 
.header-section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.left-section1 {
    width: 50%;
    padding-right: 20px;
}

.left-section1 h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.left-section1 h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.left-section1 p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.cv-button a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background-color: #ffaf29;
    color: #25262a;
    border-radius: 5px;
}

.right-section1 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
*/
.card {
    width: 45%;
    padding: 0px;
    background-color: rgb(45, 46, 50);
    margin-bottom: 20px;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    line-height: 1.5;
}



.container {
    display: flex;
    flex-wrap: wrap;
}

.content-section {
    flex: 1 1 50%;
}

.cards-section {
    flex: 1 1 50%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 45%;
    /* Card styling */
    display: flex;
    height: 300px;
}

.card1 {
    align-self: flex-end;
    padding-top: 0px;
}

.card2 {
    padding-bottom: 29px;
    padding-top: 0px;
    align-self: flex-end;
    height: 329px;
}

.card3 {
    padding-top: 34px;
    height: 334px;
}

.card4 {
    padding-top: 0px;
}

.content-section {
    color: #ffffff;
}

.cv-button a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background-color: #ffaf29;
    color: #25262a;
    border-radius: 5px;
}

/* Media Query for smaller screen sizes */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .content-section,
    .cards-section {
        flex: 1 1 100%;
    }
}

/* skills deatila  section*/

.arrow-icon {
    color: yellow;
    transform: rotate(-45deg);
}

.skillsdelt {
    background-color: var(--body-color);
}


.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

/* button in next to skills details  */
button {
    height: 61px;
    width: 141px;
    position: relative;
    padding: 12px 35px;
    background: #FEC195;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 3px solid #ffaf29;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all .3s ease-in-out;
}

.star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s ease;
}

button:hover {
    background: transparent;
    color: #FEC195;
    box-shadow: 0 0 25px #fec1958c;
    color: black;
}

button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.fil0 {
    fill: #FFFDEF
}
/* counter of rewards bla bla dashbord */
.wrapperx {
    /* position:relative;
    width: 70vw;
    transform: translate(-50%, -50%);
    top: 15%;
    left: 50%;
    display: flex;
    justify-content: center;
    gap: 4px; */
    gap: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 400px;
}
.containerx {
    width: 41vmin;
    height: 43vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    /* border-radius: 0.5em; */
    background-color: #21242b;

}
.num1{
     border-radius: 40px 0 0 40px;
}
.num2{
    border-radius: 0 40px 40px 0;
}

i {
    color: #18f98f;
    font-size: 2.5em;
    text-align: center;
}

span.num {
    color: #64f4ab;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 87px;
}

span.text {
    color: #e0e0e0;
    font-size: 24px;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
}

@media screen and (max-width: 1024px) {
    /* .wrapperx {
        width: 85vw;
    } */

    .containerx {
        /* height: 26vmin;
        width: 26vmin; */
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .wrapperx {
        /* width: 90vw; */
        /* flex-wrap: wrap; */
        /* gap: 30px; */
    }

    .containerx {
        /* width: calc(50% - 40px);
        height: 30vmin; */
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .wrapperx {
        /* gap: 15px; */
    }

    .containerx {
        /* width: 100%;
        height: 25vmin; */
        font-size: 8px;
    }
}
/* footer  */
.footer1{ 
    margin-top: 34px;
    background-color: #25262a;
    display: flex;
    height: 132px;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}
.otheracc{
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .otheracc{
        width: 24%;
    }
}